{% extends 'base.html' %} {% block content %}
<h1>Expenses</h1>
<div class="card">
  <div class="card-body">
    <li>Nintendo Subcription</li>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <li>Car insurance</li>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <li>Rent</li>
  </div>
  <div class="card">
    <div class="card-body">
      <li>health care</li>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <li>gaz</li>
    </div>
  </div>
</div>

{% endblock content %}
